<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--suppress ALL -->
<mapper namespace="com.jiajun.starter.ucenter.mapper.SysRoleMapper">
    <select id="getAll" parameterType="SysRoleDTO" resultType="SysRoleVO">
        SELECT role.role_name AS roleName, (
                SELECT COUNT(*)
                FROM sys_user_role user_role
                WHERE user_role.role_id = role.id
                AND role.id != 1
            ) AS count, role.status, user.username, role.create_time
        FROM sys_role role
        <where>
            <if test="roleName != null and roleName != ''">
                <bind name="roleName" value="'%' + roleName + '%'"/>
                AND role.role_name LIKE #{roleName}
            </if>
            <if test="username != null and username != ''">
                <bind name="username" value="'%' + username + '%'"/>
                AND user.username LIKE #{username}
            </if>
            <if test="status != null">
                AND role.status = #{status}
            </if>
        </where>
    </select>
</mapper>
