<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--suppress ALL -->
<mapper namespace="com.jiajun.starter.ucenter.mapper.UcenterMapper">
    <select id="getAll" parameterType="SysUserDTO" resultType="com.jiajun.starter.model.ucenter.vo.SysUserVO">
        SELECT id, username, password, salt, email, realname
        , mobile, sex, address, source, status
        , create_user_id, create_time
        FROM sys_user
        <where>
            <if test="username != null and username != ''">
                <bind name="username" value="'%' + username + '%'"/>
                AND username LIKE #{username}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
        </where>
    </select>

    <select id="getPermsByUserId" resultType="string">
        SELECT m.perms
        FROM sys_user_role ur
                 LEFT JOIN sys_role_menu rm ON ur.role_id = rm.role_id
                 LEFT JOIN sys_menu m ON rm.menu_id = m.menu_id
        WHERE ur.user_id = #{userId}
    </select>
</mapper>
